.org-bold {
  /* bold */
  font-weight: bold;
}
.org-bold-italic {
  /* bold-italic */
  font-weight: bold;
  font-style: italic;
}
.org-border {
}
.org-buffer-menu-buffer {
  /* buffer-menu-buffer */
  font-weight: bold;
}
.org-builtin {
  /* font-lock-builtin-face */
  color: #483d8b;
}
.org-button {
  /* button */
  color: #3a5fcd;
  text-decoration: underline;
}
.org-calendar-month-header {
  /* calendar-month-header */
  color: #0000ff;
}
.org-calendar-today {
  /* calendar-today */
  text-decoration: underline;
}
.org-calendar-weekday-header {
  /* calendar-weekday-header */
  color: #008b8b;
}
.org-calendar-weekend-header {
  /* calendar-weekend-header */
  color: #b22222;
}
.org-comint-highlight-input {
  /* comint-highlight-input */
  font-weight: bold;
}
.org-comint-highlight-prompt {
  /* comint-highlight-prompt */
  color: #0000cd;
}
.org-comment {
  /* font-lock-comment-face */
  color: #b22222;
}
.org-comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #b22222;
}
.org-completions-annotations {
  /* completions-annotations */
  font-style: italic;
}
.org-completions-common-part {
}
.org-completions-first-difference {
  /* completions-first-difference */
  font-weight: bold;
}
.org-constant {
  /* font-lock-constant-face */
  color: #008b8b;
}
.org-cursor {
  /* cursor */
  background-color: #000000;
}
.org-diary {
  /* diary */
  color: #ff0000;
}
.org-diff-added {
  /* diff-added */
  background-color: #ddffdd;
}
.org-diff-changed {
}
.org-diff-context {
  /* diff-context */
  color: #333333;
}
.org-diff-file-header {
  /* diff-file-header */
  background-color: #b3b3b3;
  font-weight: bold;
}
.org-diff-function {
  /* diff-function */
  background-color: #cccccc;
}
.org-diff-header {
  /* diff-header */
  background-color: #cccccc;
}
.org-diff-hunk-header {
  /* diff-hunk-header */
  background-color: #cccccc;
}
.org-diff-index {
  /* diff-index */
  background-color: #b3b3b3;
  font-weight: bold;
}
.org-diff-indicator-added {
  /* diff-indicator-added */
  background-color: #ddffdd;
}
.org-diff-indicator-changed {
}
.org-diff-indicator-removed {
  /* diff-indicator-removed */
  background-color: #ffdddd;
}
.org-diff-nonexistent {
  /* diff-nonexistent */
  background-color: #b3b3b3;
  font-weight: bold;
}
.org-diff-refine-added {
  /* diff-refine-added */
  background-color: #aaffaa;
}
.org-diff-refine-changed {
  /* diff-refine-changed */
  background-color: #ffff55;
}
.org-diff-refine-removed {
  /* diff-refine-removed */
  background-color: #ffbbbb;
}
.org-diff-removed {
  /* diff-removed */
  background-color: #ffdddd;
}
.org-dired-directory {
  /* dired-directory */
  color: #0000ff;
}
.org-dired-flagged {
  /* dired-flagged */
  color: #ff0000;
  font-weight: bold;
}
.org-dired-header {
  /* dired-header */
  color: #228b22;
}
.org-dired-ignored {
  /* dired-ignored */
  color: #7f7f7f;
}
.org-dired-mark {
  /* dired-mark */
  color: #008b8b;
}
.org-dired-marked {
  /* dired-marked */
  color: #ff8c00;
  font-weight: bold;
}
.org-dired-perm-write {
  /* dired-perm-write */
  color: #b22222;
}
.org-dired-symlink {
  /* dired-symlink */
  color: #a020f0;
}
.org-dired-warning {
  /* dired-warning */
  color: #ff0000;
  font-weight: bold;
}
.org-doc {
  /* font-lock-doc-face */
  color: #8b2252;
}
.org-eldoc-highlight-function-argument {
  /* eldoc-highlight-function-argument */
  font-weight: bold;
}
.org-epa-field-body {
  /* epa-field-body */
  font-style: italic;
}
.org-epa-field-name {
  /* epa-field-name */
  font-weight: bold;
}
.org-epa-mark {
  /* epa-mark */
  color: #ff0000;
  font-weight: bold;
}
.org-epa-string {
  /* epa-string */
  color: #00008b;
}
.org-epa-validity-disabled {
  /* epa-validity-disabled */
  font-style: italic;
}
.org-epa-validity-high {
  /* epa-validity-high */
  font-weight: bold;
}
.org-epa-validity-low {
  /* epa-validity-low */
  font-style: italic;
}
.org-epa-validity-medium {
  /* epa-validity-medium */
  font-style: italic;
}
.org-error {
  /* error */
  color: #ff0000;
  font-weight: bold;
}
.org-escape-glyph {
  /* escape-glyph */
  color: #a52a2a;
}
.org-ffap {
  /* ffap */
  background-color: #b4eeb4;
}
.org-file-name-shadow {
  /* file-name-shadow */
  color: #7f7f7f;
}
.org-fixed-pitch {
}
.org-fixed-pitch-serif {
}
.org-fringe {
  /* fringe */
  background-color: #f2f2f2;
}
.org-function-name {
  /* font-lock-function-name-face */
  color: #0000ff;
}
.org-glyphless-char {
  /* glyphless-char */
  font-size: 60%;
}
.org-gnus-group-mail-1 {
  /* gnus-group-mail-1 */
  color: #cd1076;
  font-weight: bold;
}
.org-gnus-group-mail-1-empty {
  /* gnus-group-mail-1-empty */
  color: #cd1076;
}
.org-gnus-group-mail-2 {
  /* gnus-group-mail-2 */
  color: #cd6090;
  font-weight: bold;
}
.org-gnus-group-mail-2-empty {
  /* gnus-group-mail-2-empty */
  color: #cd6090;
}
.org-gnus-group-mail-3 {
  /* gnus-group-mail-3 */
  color: #8b008b;
  font-weight: bold;
}
.org-gnus-group-mail-3-empty {
  /* gnus-group-mail-3-empty */
  color: #8b008b;
}
.org-gnus-group-mail-low {
  /* gnus-group-mail-low */
  color: #8b0a50;
  font-weight: bold;
}
.org-gnus-group-mail-low-empty {
  /* gnus-group-mail-low-empty */
  color: #8b0a50;
}
.org-gnus-group-news-1 {
  /* gnus-group-news-1 */
  color: #228b22;
  font-weight: bold;
}
.org-gnus-group-news-1-empty {
  /* gnus-group-news-1-empty */
  color: #228b22;
}
.org-gnus-group-news-2 {
  /* gnus-group-news-2 */
  color: #53868b;
  font-weight: bold;
}
.org-gnus-group-news-2-empty {
  /* gnus-group-news-2-empty */
  color: #53868b;
}
.org-gnus-group-news-3 {
  /* gnus-group-news-3 */
  font-weight: bold;
}
.org-gnus-group-news-3-empty {
}
.org-gnus-group-news-4 {
  /* gnus-group-news-4 */
  font-weight: bold;
}
.org-gnus-group-news-4-empty {
}
.org-gnus-group-news-5 {
  /* gnus-group-news-5 */
  font-weight: bold;
}
.org-gnus-group-news-5-empty {
}
.org-gnus-group-news-6 {
  /* gnus-group-news-6 */
  font-weight: bold;
}
.org-gnus-group-news-6-empty {
}
.org-gnus-group-news-low {
  /* gnus-group-news-low */
  color: #006400;
  font-weight: bold;
}
.org-gnus-group-news-low-empty {
  /* gnus-group-news-low-empty */
  color: #006400;
}
.org-gnus-splash {
  /* gnus-splash */
  color: #888888;
}
.org-gnus-summary-cancelled {
  /* gnus-summary-cancelled */
  color: #ffff00;
  background-color: #000000;
}
.org-gnus-summary-high-ancient {
  /* gnus-summary-high-ancient */
  color: #4169e1;
  font-weight: bold;
}
.org-gnus-summary-high-read {
  /* gnus-summary-high-read */
  color: #006400;
  font-weight: bold;
}
.org-gnus-summary-high-ticked {
  /* gnus-summary-high-ticked */
  color: #b22222;
  font-weight: bold;
}
.org-gnus-summary-high-undownloaded {
  /* gnus-summary-high-undownloaded */
  color: #008b8b;
  font-weight: bold;
}
.org-gnus-summary-high-unread {
  /* gnus-summary-high-unread */
  font-weight: bold;
}
.org-gnus-summary-low-ancient {
  /* gnus-summary-low-ancient */
  color: #4169e1;
  font-style: italic;
}
.org-gnus-summary-low-read {
  /* gnus-summary-low-read */
  color: #006400;
  font-style: italic;
}
.org-gnus-summary-low-ticked {
  /* gnus-summary-low-ticked */
  color: #b22222;
  font-style: italic;
}
.org-gnus-summary-low-undownloaded {
  /* gnus-summary-low-undownloaded */
  color: #008b8b;
  font-style: italic;
}
.org-gnus-summary-low-unread {
  /* gnus-summary-low-unread */
  font-style: italic;
}
.org-gnus-summary-normal-ancient {
  /* gnus-summary-normal-ancient */
  color: #4169e1;
}
.org-gnus-summary-normal-read {
  /* gnus-summary-normal-read */
  color: #006400;
}
.org-gnus-summary-normal-ticked {
  /* gnus-summary-normal-ticked */
  color: #b22222;
}
.org-gnus-summary-normal-undownloaded {
  /* gnus-summary-normal-undownloaded */
  color: #008b8b;
}
.org-gnus-summary-normal-unread {
}
.org-gnus-summary-selected {
  /* gnus-summary-selected */
  text-decoration: underline;
}
.org-header-line {
  /* header-line */
  color: #333333;
  background-color: #e5e5e5;
}
.org-header-line-highlight {
  /* header-line-highlight */
  background-color: #b4eeb4;
}
.org-help-argument-name {
  /* help-argument-name */
  font-style: italic;
}
.org-highlight {
  /* highlight */
  background-color: #b4eeb4;
}
.org-holiday {
  /* holiday */
  background-color: #ffc0cb;
}
.org-homoglyph {
  /* homoglyph */
  color: #a52a2a;
}
.org-internal-border {
}
.org-isearch {
  /* isearch */
  color: #b0e2ff;
  background-color: #cd00cd;
}
.org-isearch-fail {
  /* isearch-fail */
  background-color: #ffc1c1;
}
.org-italic {
  /* italic */
  font-style: italic;
}
.org-keyword {
  /* font-lock-keyword-face */
  color: #a020f0;
}
.org-lazy-highlight {
  /* lazy-highlight */
  background-color: #afeeee;
}
.org-line-number-current-line {
  /* line-number-current-line */
  color: #7f7f7f;
  background-color: #ffffff;
}
.org-link {
  /* link */
  color: #3a5fcd;
  text-decoration: underline;
}
.org-link-visited {
  /* link-visited */
  color: #8b008b;
  text-decoration: underline;
}
.org-match {
  /* match */
  background-color: #ffff00;
}
.org-menu {
}
.org-message-cited-text {
  /* message-cited-text */
  color: #ff0000;
}
.org-message-header-cc {
  /* message-header-cc */
  color: #191970;
}
.org-message-header-name {
  /* message-header-name */
  color: #6495ed;
}
.org-message-header-newsgroups {
  /* message-header-newsgroups */
  color: #00008b;
  font-weight: bold;
  font-style: italic;
}
.org-message-header-other {
  /* message-header-other */
  color: #4682b4;
}
.org-message-header-subject {
  /* message-header-subject */
  color: #000080;
  font-weight: bold;
}
.org-message-header-to {
  /* message-header-to */
  color: #191970;
  font-weight: bold;
}
.org-message-header-xheader {
  /* message-header-xheader */
  color: #0000ff;
}
.org-message-mml {
  /* message-mml */
  color: #228b22;
}
.org-message-separator {
  /* message-separator */
  color: #a52a2a;
}
.org-minibuffer-prompt {
  /* minibuffer-prompt */
  color: #0000cd;
}
.org-mm-command-output {
  /* mm-command-output */
  color: #cd0000;
}
.org-mode-line {
  /* mode-line */
  color: #000000;
  background-color: #bfbfbf;
}
.org-mode-line-buffer-id {
  /* mode-line-buffer-id */
  font-weight: bold;
}
.org-mode-line-emphasis {
  /* mode-line-emphasis */
  font-weight: bold;
}
.org-mode-line-highlight {
}
.org-mode-line-inactive {
  /* mode-line-inactive */
  color: #333333;
  background-color: #e5e5e5;
}
.org-mouse {
}
.org-mouse-drag-and-drop-region {
  /* mouse-drag-and-drop-region */
  background-color: gtk_selection_bg_color;
}
.org-negation-char {
}
.org-next-error {
  /* next-error */
  background-color: gtk_selection_bg_color;
}
.org-nobreak-hyphen {
  /* nobreak-hyphen */
  color: #a52a2a;
}
.org-nobreak-space {
  /* nobreak-space */
  color: #a52a2a;
  text-decoration: underline;
}
.org-org-agenda-calendar-event {
  /* org-agenda-calendar-event */
  color: #000000;
  background-color: #ffffff;
}
.org-org-agenda-calendar-sexp {
  /* org-agenda-calendar-sexp */
  color: #000000;
  background-color: #ffffff;
}
.org-org-agenda-clocking {
  /* org-agenda-clocking */
  background-color: #ffff00;
}
.org-org-agenda-column-dateline {
  /* org-agenda-column-dateline */
  background-color: #e5e5e5;
}
.org-org-agenda-current-time {
  /* org-agenda-current-time */
  color: #b8860b;
}
.org-org-agenda-date {
  /* org-agenda-date */
  color: #0000ff;
}
.org-org-agenda-date-today {
  /* org-agenda-date-today */
  color: #0000ff;
  font-weight: bold;
  font-style: italic;
}
.org-org-agenda-date-weekend {
  /* org-agenda-date-weekend */
  color: #0000ff;
  font-weight: bold;
}
.org-org-agenda-diary {
  /* org-agenda-diary */
  color: #000000;
  background-color: #ffffff;
}
.org-org-agenda-dimmed-todo {
  /* org-agenda-dimmed-todo-face */
  color: #7f7f7f;
}
.org-org-agenda-done {
  /* org-agenda-done */
  color: #228b22;
}
.org-org-agenda-filter-category {
  /* org-agenda-filter-category */
  color: #000000;
  background-color: #bfbfbf;
}
.org-org-agenda-filter-effort {
  /* org-agenda-filter-effort */
  color: #000000;
  background-color: #bfbfbf;
}
.org-org-agenda-filter-regexp {
  /* org-agenda-filter-regexp */
  color: #000000;
  background-color: #bfbfbf;
}
.org-org-agenda-filter-tags {
  /* org-agenda-filter-tags */
  color: #000000;
  background-color: #bfbfbf;
}
.org-org-agenda-restriction-lock {
  /* org-agenda-restriction-lock */
  background-color: #eeeeee;
}
.org-org-agenda-structure {
  /* org-agenda-structure */
  color: #0000ff;
}
.org-org-archived {
  /* org-archived */
  color: #7f7f7f;
}
.org-org-block {
  /* org-block */
  color: #7f7f7f;
}
.org-org-block-begin-line {
  /* org-block-begin-line */
  color: #b22222;
}
.org-org-block-end-line {
  /* org-block-end-line */
  color: #b22222;
}
.org-org-checkbox {
  /* org-checkbox */
  font-weight: bold;
}
.org-org-checkbox-statistics-done {
  /* org-checkbox-statistics-done */
  color: #228b22;
  font-weight: bold;
}
.org-org-checkbox-statistics-todo {
  /* org-checkbox-statistics-todo */
  color: #ff0000;
  font-weight: bold;
}
.org-org-clock-overlay {
  /* org-clock-overlay */
  color: #000000;
  background-color: #d3d3d3;
}
.org-org-code {
  /* org-code */
  color: #7f7f7f;
}
.org-org-column {
  /* org-column */
  background-color: #e5e5e5;
}
.org-org-column-title {
  /* org-column-title */
  background-color: #e5e5e5;
  font-weight: bold;
  text-decoration: underline;
}
.org-org-date {
  /* org-date */
  color: #a020f0;
  text-decoration: underline;
}
.org-org-date-selected {
  /* org-date-selected */
  color: #ff0000;
}
.org-org-default {
  /* org-default */
  color: #000000;
  background-color: #ffffff;
}
.org-org-document-info {
  /* org-document-info */
  color: #191970;
}
.org-org-document-info-keyword {
  /* org-document-info-keyword */
  color: #7f7f7f;
}
.org-org-document-title {
  /* org-document-title */
  color: #191970;
  font-weight: bold;
}
.org-org-done {
  /* org-done */
  color: #228b22;
  font-weight: bold;
}
.org-org-drawer {
  /* org-drawer */
  color: #0000ff;
}
.org-org-ellipsis {
  /* org-ellipsis */
  color: #b8860b;
  text-decoration: underline;
}
.org-org-footnote {
  /* org-footnote */
  color: #a020f0;
  text-decoration: underline;
}
.org-org-formula {
  /* org-formula */
  color: #b22222;
}
.org-org-headline-done {
  /* org-headline-done */
  color: #bc8f8f;
}
.org-org-hide {
  /* org-hide */
  color: #ffffff;
}
.org-org-latex-and-related {
  /* org-latex-and-related */
  color: #8b4513;
}
.org-org-level-1 {
  /* org-level-1 */
  color: #0000ff;
}
.org-org-level-2 {
  /* org-level-2 */
  color: #a0522d;
}
.org-org-level-3 {
  /* org-level-3 */
  color: #a020f0;
}
.org-org-level-4 {
  /* org-level-4 */
  color: #b22222;
}
.org-org-level-5 {
  /* org-level-5 */
  color: #228b22;
}
.org-org-level-6 {
  /* org-level-6 */
  color: #008b8b;
}
.org-org-level-7 {
  /* org-level-7 */
  color: #483d8b;
}
.org-org-level-8 {
  /* org-level-8 */
  color: #8b2252;
}
.org-org-link {
  /* org-link */
  color: #3a5fcd;
  text-decoration: underline;
}
.org-org-list-dt {
  /* org-list-dt */
  font-weight: bold;
}
.org-org-macro {
  /* org-macro */
  color: #8b4513;
}
.org-org-meta-line {
  /* org-meta-line */
  color: #b22222;
}
.org-org-mode-line-clock {
  /* org-mode-line-clock */
  color: #000000;
  background-color: #bfbfbf;
}
.org-org-mode-line-clock-overrun {
  /* org-mode-line-clock-overrun */
  color: #000000;
  background-color: #ff0000;
}
.org-org-priority {
  /* org-priority */
  color: #a020f0;
}
.org-org-property-value {
}
.org-org-quote {
  /* org-quote */
  color: #7f7f7f;
}
.org-org-scheduled {
  /* org-scheduled */
  color: #006400;
}
.org-org-scheduled-previously {
  /* org-scheduled-previously */
  color: #b22222;
}
.org-org-scheduled-today {
  /* org-scheduled-today */
  color: #006400;
}
.org-org-sexp-date {
  /* org-sexp-date */
  color: #a020f0;
}
.org-org-special-keyword {
  /* org-special-keyword */
  color: #a020f0;
}
.org-org-table {
  /* org-table */
  color: #0000ff;
}
.org-org-tag {
  /* org-tag */
  font-weight: bold;
}
.org-org-tag-group {
  /* org-tag-group */
  font-weight: bold;
}
.org-org-target {
  /* org-target */
  text-decoration: underline;
}
.org-org-time-grid {
  /* org-time-grid */
  color: #b8860b;
}
.org-org-todo {
  /* org-todo */
  color: #ff0000;
  font-weight: bold;
}
.org-org-upcoming-deadline {
  /* org-upcoming-deadline */
  color: #b22222;
}
.org-org-verbatim {
  /* org-verbatim */
  color: #7f7f7f;
}
.org-org-verse {
  /* org-verse */
  color: #7f7f7f;
}
.org-org-warning {
  /* org-warning */
  color: #ff0000;
  font-weight: bold;
}
.org-outline-1 {
  /* outline-1 */
  color: #0000ff;
}
.org-outline-2 {
  /* outline-2 */
  color: #a0522d;
}
.org-outline-3 {
  /* outline-3 */
  color: #a020f0;
}
.org-outline-4 {
  /* outline-4 */
  color: #b22222;
}
.org-outline-5 {
  /* outline-5 */
  color: #228b22;
}
.org-outline-6 {
  /* outline-6 */
  color: #008b8b;
}
.org-outline-7 {
  /* outline-7 */
  color: #483d8b;
}
.org-outline-8 {
  /* outline-8 */
  color: #8b2252;
}
.org-preprocessor {
  /* font-lock-preprocessor-face */
  color: #483d8b;
}
.org-query-replace {
  /* query-replace */
  color: #b0e2ff;
  background-color: #cd00cd;
}
.org-read-multiple-choice {
  /* read-multiple-choice-face */
  font-weight: bold;
  text-decoration: underline;
}
.org-regexp-grouping-backslash {
  /* font-lock-regexp-grouping-backslash */
  font-weight: bold;
}
.org-regexp-grouping-construct {
  /* font-lock-regexp-grouping-construct */
  font-weight: bold;
}
.org-region {
  /* region */
  background-color: gtk_selection_bg_color;
}
.org-rmail-header-name {
  /* rmail-header-name */
  color: #0000ff;
}
.org-rmail-highlight {
  /* rmail-highlight */
  background-color: #b4eeb4;
}
.org-scroll-bar {
}
.org-secondary-selection {
  /* secondary-selection */
  background-color: #ffff00;
}
.org-sh-escaped-newline {
  /* sh-escaped-newline */
  color: #8b2252;
}
.org-sh-heredoc {
  /* sh-heredoc */
  color: #ffa54f;
}
.org-sh-quoted-exec {
  /* sh-quoted-exec */
  color: #ff00ff;
}
.org-shadow {
  /* shadow */
  color: #7f7f7f;
}
.org-show-paren-match {
  /* show-paren-match */
  background-color: #40e0d0;
}
.org-show-paren-match-expression {
  /* show-paren-match-expression */
  background-color: #40e0d0;
}
.org-show-paren-mismatch {
  /* show-paren-mismatch */
  color: #ffffff;
  background-color: #a020f0;
}
.org-string {
  /* font-lock-string-face */
  color: #8b2252;
}
.org-success {
  /* success */
  color: #228b22;
  font-weight: bold;
}
.org-table-cell {
  /* table-cell */
  color: #e5e5e5;
  background-color: #0000ff;
}
.org-tool-bar {
  /* tool-bar */
  color: #000000;
  background-color: #bfbfbf;
}
.org-tooltip {
  /* tooltip */
  color: #000000;
  background-color: #ffffe0;
}
.org-trailing-whitespace {
  /* trailing-whitespace */
  background-color: #ff0000;
}
.org-tty-menu-disabled {
  /* tty-menu-disabled-face */
  color: #d3d3d3;
  background-color: #0000ff;
}
.org-tty-menu-enabled {
  /* tty-menu-enabled-face */
  color: #ffff00;
  background-color: #0000ff;
  font-weight: bold;
}
.org-tty-menu-selected {
  /* tty-menu-selected-face */
  background-color: #ff0000;
}
.org-type {
  /* font-lock-type-face */
  color: #228b22;
}
.org-underline {
  /* underline */
  text-decoration: underline;
}
.org-variable-name {
  /* font-lock-variable-name-face */
  color: #a0522d;
}
.org-variable-pitch {
}
.org-vc-conflict-state {
}
.org-vc-edited-state {
}
.org-vc-locally-added-state {
}
.org-vc-locked-state {
}
.org-vc-missing-state {
}
.org-vc-needs-update-state {
}
.org-vc-removed-state {
}
.org-vc-state-base {
}
.org-vc-up-to-date-state {
}
.org-vertical-border {
}
.org-warning {
  /* warning */
  color: #ff8c00;
  font-weight: bold;
}
.org-warning-1 {
  /* font-lock-warning-face */
  color: #ff0000;
  font-weight: bold;
}
.org-widget-button {
  /* widget-button */
  font-weight: bold;
}
.org-widget-button-pressed {
  /* widget-button-pressed */
  color: #ff0000;
}
.org-widget-documentation {
  /* widget-documentation */
  color: #006400;
}
.org-widget-field {
  /* widget-field */
  background-color: #d9d9d9;
}
.org-widget-inactive {
  /* widget-inactive */
  color: #7f7f7f;
}
.org-widget-single-line-field {
  /* widget-single-line-field */
  background-color: #d9d9d9;
}
.org-window-divider {
  /* window-divider */
  color: #999999;
}
.org-window-divider-first-pixel {
  /* window-divider-first-pixel */
  color: #cccccc;
}
.org-window-divider-last-pixel {
  /* window-divider-last-pixel */
  color: #666666;
}
