html {
  font-family: 'Crimson Text', serif;
  font-size: 1.3em;
}

body {
  margin: 0;
  padding: 1em;
  background-image: url('../img/bg-texture.png');
  background-color: #fff3e6;
}

#preamble,
#content,
#postamble {
  max-width: 45em;
  margin: auto;
  padding: 1em;
  background-color: #ffffff9c;
  border: solid 10px #69a5d9;
}

#preamble {
  border-bottom: none;
}

#postamble {
  border-top: none;
}

a {
  color: #0f72c8;
  transition: color 100ms;
}

a:hover {
  color: #245177;
}

p {
  line-height: 1.5;
  color: #170909;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  color: #136ab5;
}

h2,
h3,
h4,
h5,
h6 {
  color: #170909;
}

pre {
  margin: 0;
  background-color: white;
  overflow-x: scroll !important;
}

code {
  padding: 2px 3px;
  background-color: white;
  border: solid 1px #ffe5e5;
}

.org-src-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.src-block-header {
  position: relative;
  z-index: 10;

  font-size: 0.85em;
}

.src-block-header .name,
.src-block-header .parameters {
  position: absolute;
  top: -0.8em;
}

.src-block-header .name {
  left: 1em;
}

.src-block-header .parameters {
  right: 1em;
}

.src-block-header .name:before {
  content: "<<";
}

.src-block-header .name:after {
  content: ">>";
}

/**
 * Web fonts generated on https://google-webfonts-helper.herokuapp.com
 */

/* crimson-text-regular - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/crimson-text-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'),
       url('../fonts/crimson-text-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson-text-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson-text-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson-text-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson-text-v10-latin-regular.svg#CrimsonText') format('svg'); /* Legacy iOS */
}

/* crimson-text-600 - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/crimson-text-v10-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text SemiBold'), local('CrimsonText-SemiBold'),
       url('../fonts/crimson-text-v10-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson-text-v10-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson-text-v10-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson-text-v10-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson-text-v10-latin-600.svg#CrimsonText') format('svg'); /* Legacy iOS */
}

/* crimson-text-italic - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/crimson-text-v10-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Italic'), local('CrimsonText-Italic'),
       url('../fonts/crimson-text-v10-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson-text-v10-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson-text-v10-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson-text-v10-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson-text-v10-latin-italic.svg#CrimsonText') format('svg'); /* Legacy iOS */
}

/* crimson-text-600italic - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/crimson-text-v10-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text SemiBold Italic'), local('CrimsonText-SemiBoldItalic'),
       url('../fonts/crimson-text-v10-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson-text-v10-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson-text-v10-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson-text-v10-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson-text-v10-latin-600italic.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
